@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #anchor {
    @apply scroll-smooth;
  }
  #split-top {
    @apply scroll-smooth;
  }

  .step-ol > li.arrow:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-width: 25px 18px 0 18px;
    border-color: #cfcb87 transparent transparent transparent;
    opacity: 0.25;
    bottom: -8%;
    left: 19%;
    right: auto;
    transform: translate(50%, 50%);
  }
  details summary::-webkit-details-marker {
    @apply hidden; /* for Safari */
  }
  .typewriter {
    @apply w-0;
    border-right: 0.08em solid #cfcb87;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(19, end) forwards, caret 1s step-end 10;
  }
  @keyframes typing {
    0% {
      width: 0%;
    }
    100% {
      width: 18.3em;
    }
  }
  @keyframes caret {
    0% {
      border-color: transparent;
    }
    50% {
      @apply border-kronos-300;
    }
    100% {
      border-color: transparent;
    }
  }
  .background-animate {
    background-size: 400%;
    animation-delay: 10s;
    animation: gradient 4s ease 1;
  }

  @keyframes gradient {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}
